﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="EnterchatRoom" >
    <div class="form-group row">
        <label for="nameInput" class="col-sm-1 col-form-label">نام: </label>
        <div class="col-sm-11">
            <input type="text" class="form-control " id="nameInput" placeholder="نام خود را وارد کنید!" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="button" class="btn btn-primary" id="startButton" value="شروع چت" />
        </div>
    </div>
</div>

<div class="container" id="chatRoom" style="display:none">
    <div class="form-group row">
        <label for="messageInput" class="col-sm-1 col-form-label">پیام: </label>
        <div class="col-sm-11">
            <textarea type="text" class="form-control " id="messageInput" placeholder="متن پیام خود را وارد کنید!"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="button" class="btn btn-primary" id="sendButton" value="ارسال" />
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">
        <ul id="messagesList" class="list-group list-group-flush text-right"></ul>
    </div>
</div>
@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chatroom.js"></script>
}